body {
  display: flex;
  height: 100vh;
  margin: 0;
  background-color: #222;
}

.room {
  position: relative;
  width: 80vw;
  height: 80vh;
  margin: auto;
  box-shadow: 0 0 0 7px #222, 0 0 0 10px white;
  background-color: #ddd;
  overflow: hidden;
}

.ball {
  position: absolute;
  bottom: 20%;
  left: 15%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: cadetblue;
  /* animation: fly-ball-x 1s cubic-bezier(.17, .67, .6, 1), fly-ball-y 1s linear; */
}

.column {
  position: absolute;
  bottom: 0;
  left: 15%;
  /* width: 50px; */
  /* height: 20% */

  border-bottom: calc(0.2 * 80vh) rgb(151, 65, 65) solid;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.spring {
  position: absolute;
  left: -3%;
  bottom: calc(20% + 15px);
  width: 15%;
  height: 20px;
  background-color: burlywood;
  animation: spring 1.5s infinite alternate paused;
    /* animation: release-spring .2s infinite linear */
}

.panel {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40vw;
}

.btn-action {
  display: block;
  width: 100%;
  border: none;
  background-color: #222;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  /* padding: 10px; */
  letter-spacing: 1px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

@media (max-width: 800px) {
    .panel {
        width: auto;
        left: 20;
    }
}

.btn-action:hover {
  background-color: #333;
}

.bar {
    /* box-sizing: border-box; */
    height: 50px;
    width: 99%;
    font-size: 20px;
    margin-top: 30px;
    border:  7px #222 solid;
    z-index: 1;
    
}

.fill {
    width: 5%;
    height: 100%;
    background-color: #777;
    z-index: -1;
    animation-name: fill;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-play-state: paused;
}

:root {
    --spring-left: 0;
    --power-x: 0;
}

@keyframes fill {
    100% {
        width: 100%;
    }
}

@keyframes spring {
    100% {
        left: -14%;
    }
}

@keyframes release-spring {
    0% {
        left: var(--spring-left, -14%)
    }
    
    100% {
        left:0%;
    }
}

@keyframes fly-ball-x {
    /* 100% {
        left: var(--power-x, 1000);
    } */

}

@keyframes fly-ball-y {
    100% {
        bottom: 0;
    }

}